{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div class="col s12">
		<div class="section">
			<h5>What is this?</h5>
			<p>Another silly generator, along the lines of <a href="https://thispersondoesnotexist.com/">https://thispersondoesnotexist.com/</a> or <a href="https://stackroboflow.com">https://stackroboflow.com</a>, but nowhere near as impressive</p>

			<h5>What's it based on?</h5>
			<p>Player names and profiles from <a href="https://espncricinfo.com">CricInfo</a></p>
		</div>
	</div>
</div>
{% endblock %}

{% block title %}About{% endblock %}
