<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>{{ player.fullname }}: This Cricket Player Does Not Exist</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
        .darkest {
            background: #10073b;
        }
        .dark {
            background: #231858;
        }
        .light {
            background: #5d5393;
        }
        .lightest {
            background: #867db0;
        }
    </style>
</head>

<body>
    <!-- nav -->
    <nav class="darkest" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">This Cricket Player Does Not Exist</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/random">Another Profile</a></li>
                <li><a href="#">What is this?</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col s12">

                <div class="section">
                    <h5>{{ player.fullname }}</h5>
                    <p>{{ player.country_name }}</p>
                    <div class="divider"></div>
                    <p>{{ player.batting_style }}, {{ player.bowling_style }}</p>
                    <div class="divider"></div>
                    {% for line in player.profile %}
                    <p>{{ line }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

  <footer class="page-footer light">
    <div class="container">
    </div>
  </footer>

  </body>
</html>

