{% extends 'base.html' %}

{% block title %}{{ player.fullname }}{% endblock %}

{% block content %}
        <div class="row">
            <div class="col s12">

                <div class="section">
                    <h5>{{ player.fullname }}</h5>
                    <p>{{ player.country_name }}</p>
                    <div class="divider"></div>
                    <p>{{ player.batting_style }}, {{ player.bowling_style }}</p>
                    <div class="divider"></div>
                    {% for line in player.profile %}
                    <p>{{ line }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}
